<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.airbnb.member.mapper.HostMapper">
    <select id="getReservationListSQL" resultType="com.example.airbnb.reservation.domain.Reservation" parameterType="java.lang.Long">
        <![CDATA[
        SELECT *
        FROM reservation r
        WHERE r.house_id = #{id}
        ]]>
    </select>
    
    <select id="getHouseListSQL" resultType="com.example.airbnb.house.domain.House" parameterType="java.lang.Long">
    	<![CDATA[
    	SELECT *
        FROM house h
        WHERE h.member_id = #{Id}
        ]]>
    </select>
</mapper>