<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.airbnb.member.mapper.MemberEditMapper">

    <update id="updateMember" parameterType="java.util.Map">
        <![CDATA[
        UPDATE swframework.member
        SET email = #{email},
            password = #{password},
            phone = #{phone},
            name = #{name}
        WHERE id = #{id}
        ]]>
    </update>

    <delete id="deleteMember" parameterType="java.lang.Long">
        <![CDATA[
            DELETE FROM swframework.member
            WHERE id = #{id}
        ]]>
    </delete>

    <delete id="deleteMemberReservations" parameterType="java.lang.Long">
        DELETE FROM reservation WHERE member_id = #{id}
    </delete>

    <delete id="deleteMemberReview" parameterType="java.lang.Long">
        DELETE FROM review WHERE member_id = #{id}
    </delete>
</mapper>
